<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @assessment.name %>
</p>

<p>
  <b>Total:</b>
  <%= @assessment.total %>
</p>


<%= link_to 'Edit', edit_admin_assessment_path(@assessment) %> |
<%= link_to 'Back', admin_assessments_path %>
